<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="https://MasonGuo.COM/favicon.ico" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <div class="site-title"><a href="/">{{ page.title }}</a></div>
        <ul class="site-menu">
          <li title=""><a href="#">About Me</a></li>
          <li title=""><a href="#">Note</a></li>
          <li title=""><a href="#"> Research & Projects</a></li>
          <li title=""><a href="#">Blog</a></li>
          <li title=""><a href="#">Learning</a></li>
        </ul>
      </div>
    </div>
    <div class="article">{{ content }}</div>
    <hr>
    <div class="foot">
      <!-- <p>Copyright © 1980~2025 Mason Guo unless otherwise stated<a href="https://creativecommons.org/licenses/by/3.0/" target="_blank"> (there might be the odd Creative Commons license image within articles)</a></p> -->
      <p>Copyright © 1980~2025 Mason Guo unless otherwise stated (there might be the odd Creative Commons license image within articles)</p>
      <p><a href="https://MasonGuo.com/" target="_blank"><b>MasonGuo.COM</b></a></p>
    </div>
  </body>
</html>
